body
{
    background-color:#6FFFF0;
}


.container{
    background: linear-gradient(to bottom, #E58FEA, #AAF9F9);
    width: auto;
    padding: 30px;
    text-align: center;
    border: solid #FF0065;
}

.contenido h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenido p{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
    
.cabecera{
    font-size: 30px;
    color: #000;
    background-color:#FFDC97;
    border: solid #000;
    border-radius: 10%;
    padding: 5PX;
    box-shadow:10px 9px 28px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow:10px 9px 28px 4px rgba(0,0,0,0.75);
    -moz-box-shadow:10px 9px 28px 4px rgba(0,0,0,0.75)
}